<!--navbar-->
<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-padding ion-margin-start">
      <ion-img src="../../assets/logo.svg" alt=""> </ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--content-->
<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="listenScroll($event)"
>
  <!--highlight-->
  <ion-grid
    *ngIf="background_bg"
    class="highlight ion-no-padding ion-no-margin"
    [style.background-image]="'url(' + background_bg + ')'"
  >
    <ion-row class="content">
      <!-- Daily picks -->
      <ion-col size="12">
        <h1 class="daily-picks-for-username">
          Daily Picks for {{ username | uppercase }}
        </h1>
      </ion-col>
      <!--Info meta layer-->
      <ion-col size-xs="12" size-md="4" class="info meta-layer">
        <ion-text color="light">
          <h2 class="title-info">{{ title | uppercase }}</h2>
          <p class="synopsis">{{ description }}</p>
        </ion-text>
        <ion-button color="light">
          <ion-icon size="small" name="play"></ion-icon>
          Play
        </ion-button>
        <ion-button color="rgba(109, 109, 110, 0.7)">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>More Info</span>
        </ion-button>
      </ion-col>
      <!-- volume and maturity-->
      <ion-col class="container_volume" size-xs="12" size-md="4">
        <div class="actionButton">
          <ion-icon
            src="../../assets/icons/volume.svg"
            class="button_volume"
          ></ion-icon>
        </div>
        <div color="light" class="maturity-rating">
          <span class="maturity-number">16+</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--fin header-->
  <ion-grid>
    <!--Tv Shows-->
    <ion-row *ngIf="tvShows">
      <ion-col size="12">
        <ion-text color="light">
          <h2 class="ion-padding-top">TV Shows</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="flexBox">
          <div
            class="flexItem"
            *ngFor="let show of tvShows"
            (click)="displayDetails(show)"
          >
            <ion-img [src]="show.poster_path"> </ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!--Trending Now-->
    <ion-row class="" *ngIf="trendingNow">
      <ion-col size="12" class="">
        <ion-text color="light">
          <h2 class="ion-padding-top">Trending Now</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="">
        <div class="flexBox">
          <div
            class="flexItem"
            *ngFor="let trend of trendingNow"
            (click)="displayDetails(trend)"
          >
            <ion-img [src]="trend.poster_path"> </ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!--New Releases-->
    <ion-row class="new-release-row" *ngIf="releases">
      <ion-col size="12" class="">
        <ion-text color="light">
          <h2 class="ion-padding-top">New Releases</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="">
        <div class="flexBox">
          <div
            class="flexItem"
            *ngFor="let release of releases"
            (click)="displayDetails(release)"
          >
            <ion-img [src]="release.poster_path"> </ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!--Anime-->
    <ion-row class="anime-row" *ngIf="anime">
      <ion-col size="12" class="">
        <ion-text color="light">
          <h2 class="ion-padding-top">Anime</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="">
        <div class="flexBox">
          <div
            class="flexItem"
            *ngFor="let an of anime"
            (click)="displayDetails(an)"
          >
            <ion-img [src]="an.poster_path"> </ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!--Movies-->
    <ion-row class="movies-row" *ngIf="movies">
      <ion-col size="12" class="">
        <ion-text color="light">
          <h2 class="ion-padding-top">Movies</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="">
        <div class="flexBox">
          <div
            class="flexItem"
            *ngFor="let movie of movies"
            (click)="displayDetails(movie)"
          >
            <ion-img [src]="movie.poster_path"> </ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--footer-->
  <ion-footer class="ion-padding ion-margin">
    <ion-text color="light">
      <span
        >© 2022 Made with ❤️ by<a
          class="footer__copyright--link"
          href="https://github.com/ryuzvki221"
        >
          Ryuzvki</a
        ></span
      >
    </ion-text>
  </ion-footer>
</ion-content>
