:host {
  display: block;
  background: var(--ion-color-secondary);
  ion-header {
    background: transparent;
    ion-img {
      max-width: 100px;
    }

    ion-toolbar {
      --background: transparent;
      --border-width: 0;
      --border-style: none;
      --border-color: transparent;
    }
  }
  .header-md::after{
    display: none!important;
  }
  ion-button {
    margin-right: 14px;

    span {
      color: var(--ion-color-light);
    }
  }
  ion-content{
    transform: translate(0, -4rem);
  }

  ion-footer{
    font-size: 1.4rem;
    text-align: center;

    .footer__copyright--link {
      text-decoration: none;
      color: rgba(248,6,22,0.870588);
      transition: all .3s;
  }
  }




  // highlight
  .highlight {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content {
    min-height: 75vh;
    background: linear-gradient(
      90deg,
      var(--ion-color-secondary),
      5%,
      transparent 50%
    );
    .daily-picks-for-username {
      position: absolute;
      color: var(--ion-color-light);
      top: 5.4vw;
      left: 4%;
      z-index: 8;
      font-size: 2.3vw;
      line-height: 2.77778vw;
      font-weight: bold;
    }

    .info {
      position: absolute;
      left: 4%;
      bottom: 36%;
      z-index: 10;
      width: 36%;
      flex-direction: column;
      justify-content: flex-end;

      .title-info {
        font-size: 2.4vw;
        padding: auto;
        font-weight: bold;
      }
      .synopsis {
        font-size: 1.2vw;
        font-weight: 400;
        line-height: normal;
        margin-top: 0.1vw;
        text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
        width: 100%;
      }
    }
  }

  .container_volume {
    align-items: center;
    bottom: 46%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    z-index: 10;

    .actionButton {
      position: relative;
      margin: 0 1.1vw 0 0;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;

      z-index: 10;
      .button_volume {
        height: 2.4vw;
        width: 2.4vw;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        transition: all 0.3s;
        cursor: pointer;
        opacity: 1;
        color: var(--ion-color-light);
        font-size: 1.35rem;
        align-items: center;
        padding: 0.2rem;
      }
    }
    .maturity-rating {
      align-items: center;
      background-color: rgba(51, 51, 51, 0.6);
      border: 3px #dcdcdc;
      border-left-style: solid;
      box-sizing: border-box;
      display: flex;
      font-size: 1.1vw;
      height: 2.4vw;
      padding: 0.5vw 3.5vw 0.5vw 0.8vw;
      .maturity-number {
        font-size: 1vw;
        font-weight: bold;
        color: var(--ion-color-light);
      }
    }
  }

  // animation image

  .flexBox {
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    margin-top: -1rem;
    white-space: nowrap;
    position: relative;
    .flexItem {
      cursor: pointer;
      min-width: 200px;
    }
  }
}
