<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <!--  first row section -->
    <ion-row
      [style.background-image]="
        'url(' +
        'https://assets.nflxext.com/ffe/siteui/vlv3/a1543997-c1fd-4946-92d3-b0a3648b92c7/b1225a16-f739-4628-9115-fd0ae8f61e16/SN-en-20220808-popsignuptwoweeks-perspective_alpha_website_large.jpg' +
        ')'
      "
      class="first-section ion-align-items-center ion-justify-content-center ion-text-center"
    >
      <ion-col size-xs="12" size-md="8" class="first-col-section">
        <ion-text color="light" class="text-top">
          <h1 class="ion-margin-top ion-padding-top text-title">
            Unlimited movies, TV shows, and more.
          </h1>
          <p class="large">Watch anywhere. Cancel anytime.</p>
          <p class="email-form-title">
            Ready to watch? Enter your email to create or restart your
            membership
          </p>
        </ion-text>
        <ion-item color="light">
          <ion-input type="email" placeholder="Email address"></ion-input>
          <ion-button slot="end" size="large" routerLink="/sn">
            Get Started
            <ion-icon
              size="small"
              name="chevron-forward-outline"
              slot="end"
            ></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="concord-img-gradient"></div>
    <!--  second row section -->
    <ion-row class="second-section ion-align-items-center ion-padding">
      <ion-col size-xs="12" size-md="6">
        <ion-text color="light">
          <h1 class="ion-margin-top ion-padding-top">Enjoy on your TV.</h1>
          <p class="large">
            Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
            players, and more.
          </p>
        </ion-text>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <div class="card-animation-container">
          <ion-img
            class="card-img-tv"
            src="../../assets/images/netflix-image-tv.png"
          ></ion-img>
          <div class="card-animation-video-tv">
            <video class="card-video-tv" autoplay playsinline muted loop>
              <source
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!--  third row section -->
    <ion-row class="third-section ion-align-items-center ion-padding">
      <ion-col size-xs="12" size-md="6">
        <div>
          <ion-img
            src="../../assets/images/netflix-image-mobile.jpeg"
          ></ion-img>
          <ion-item lines="none" class="item-download">
            <ion-thumbnail slot="start">
              <img
                alt=""
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png"
              />
            </ion-thumbnail>
            <ion-label class="card-animation-text">
              <div id="" class="text-0">Stranger Things</div>
              <div id="" class="text-1">Downloading...</div>
            </ion-label>
            <ion-img
              class="card-animation-custom"
              slot="end"
              src="../../assets/images/netflix-icon-download.gif"
            ></ion-img>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-text color="light">
          <h1 class="ion-margin-top ion-padding-top">
            Download your shows to watch offline.
          </h1>
          <p class="large">
            Save your favorites easily and always have something to watch.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <!--  fourth row section -->
    <ion-row class="fourth-section ion-align-items-center ion-padding">
      <ion-col size-xs="12" size-md="6">
        <ion-text color="light">
          <h1 class="ion-margin-top ion-padding-top">Watch everywhere.</h1>
          <p class="large">
            Stream unlimited movies and TV shows on your phone, tablet, laptop,
            and TV.
          </p>
        </ion-text>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <div class="card-animation-container">
          <ion-img
            class="card-img-devices"
            src="../../assets/images/netflix-image-devices.png"
          ></ion-img>
          <div class="card-animation-video-devices">
            <video class="card-video-devices" autoplay playsinline muted loop>
              <source
                src="../../assets/videos/video-devices.m4v"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!--  fifth row section -->
    <ion-row class="fifth-section ion-align-items-center ion-padding">
      <ion-col size-xs="12" size-md="6">
        <div class="">
          <ion-img
            class="card-img-children"
            src="../../assets/images/netflix-image-children.png"
          ></ion-img>
        </div>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-text color="light">
          <h1 class="ion-margin-top ion-padding-top">
            Create profiles for kids.
          </h1>
          <p class="large">
            Send kids on adventures with their favorite characters in a space
            made just for them—free with your membership.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <!--  sixth row section -->
    <ion-row
      class="sixth-section ion-align-items-center ion-justify-content-center ion-text-center ion-padding"
    >
      <ion-col size-xs="12" size-md="8">
        <div class="our-story-card faq-card" id="faq">
          <ion-text class="our-story-card-text">
            <h1 class="our-story-card-title">Frequently Asked Questions</h1>
          </ion-text>
          <ion-list class="our-story-card-list">
            <ul class="faq-list">
              <li class="faq-list-item">
                <ion-button class="faq-question" size="large"
                  >What is Netflix?
                  <ion-icon
                    class="faq-question-icon"
                    name="add-outline"
                  ></ion-icon>
                </ion-button>
                <div class="faq-answer closed">
                  <span
                    >Netflix is a streaming service that offers a wide variety
                    of award-winning TV shows, movies, anime, documentaries, and
                    more on thousands of internet-connected devices.<br /><br />You
                    can watch as much as you want, whenever you want without a
                    single commercial - all for one low monthly price. There's
                    always something new to discover and new TV shows and movies
                    are added every week!</span
                  >
                </div>
              </li>
              <li class="faq-list-item">
                <ion-button class="faq-question" size="large"
                  >How much does Netflix cost?
                  <ion-icon
                    class="faq-question-icon"
                    name="add-outline"
                  ></ion-icon>
                </ion-button>
                <div class="faq-answer closed">
                  <span
                    >Watch Netflix on your phone, tablet, laptop, or TV without
                    paying a cent a month. You can watch as much as you want,
                    whenever you want. No credit card needed.</span
                  >
                </div>
              </li>
              <li class="faq-list-item">
                <ion-button class="faq-question" size="large"
                  >How do I cancel?
                  <ion-icon
                    class="faq-question-icon"
                    name="add-outline"
                  ></ion-icon>
                </ion-button>
                <div class="faq-answer closed">
                  <span
                    >You can cancel anytime. There are no pesky contracts or
                    commitments. There's no cancellation fees. Just contact us
                    and we'll do our best to help you.</span
                  >
                </div>
              </li>
            </ul>
          </ion-list>
        </div>
      </ion-col>
      <ion-col size-xs="12" size-md="8">
        <ion-text color="light">
          <p>
            Ready to watch? Enter your email to create or restart your
            membership
          </p>
        </ion-text>
        <ion-item color="light">
          <ion-input type="email" placeholder="Email address"></ion-input>
          <ion-button slot="end" size="large" routerLink="/sn">
            Get Started
            <ion-icon
              size="small"
              name="chevron-forward-outline"
              slot="end"
            ></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--footer row section -->
    <ion-row class="footer-row ion-align-items-center ion-padding">
      <ion-col size-xs="12" size-md="12">
        <ion-text color="light">
          <p class="footer-top">Questions? Contact us.</p>
        </ion-text>
      </ion-col>
      <ion-col size-xs="12" size-md="3">
        <ion-list>
          <ul>
            <li>FAQ</li>
            <li>Investor Relations</li>
            <li>Privacy</li>
            <li>Speed Test</li>
          </ul>
        </ion-list>
      </ion-col>
      <ion-col size-xs="12" size-md="3">
        <ion-list>
          <ul>
            <li>Help Center</li>
            <li>Jobs</li>
            <li>Cookie Preferences</li>
            <li>Legal Notices</li>
          </ul>
        </ion-list>
      </ion-col>
      <ion-col size-xs="12" size-md="3">
        <ion-list>
          <ul>
            <li>Account</li>
            <li>Ways to Watch</li>
            <li>Corporate Information</li>
            <li>Only on Netflix</li>
          </ul>
        </ion-list>
      </ion-col>
      <ion-col size-xs="12" size-md="3">
        <ion-list>
          <ul>
            <li>Media Center</li>
            <li>Terms of Use</li>
            <li>Contact Us</li>
          </ul>
        </ion-list>
      </ion-col>
      <ion-col size-xs="12" size-md="12">
        <ion-text color="light">
          <p class="footer-country">Netflix Senegal</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
